body {
  background: linear-gradient(#fdfff9, #94d1c5);
}

.banner-top, .banner-bottom{
	height: 50px;
	background: linear-gradient(#fcb59f,#fc9d88,#fcb59f);
	margin:auto 50px auto 50px;
	border-width: .5px;
	border-style: solid;
	border-color: #bff2df;
	border-radius: 7px;

}

.main-feed-container{
	margin:0px auto 0px auto;
	height:100%;
	width: 60%;
	background: linear-gradient(white, #ffe1bc);

}

h1 {
	float:left;
	margin: 4% auto 4% 10%;
	font-size:400%;
	font-family: Verdana;
	font-weight: bold;
	-webkit-text-stroke: 0.5px white;
	color: #57bab3;
	text-shadow: 0 0 15px #9ce5cc;
	cursor:pointer;
}

h1:active{
	color:#e5aca2;
	text-shadow: 0 0 15px #ffcea3;
}

#refresh-button {
  float:right;
  margin:10% 15% auto auto;
  cursor:pointer;
  width:30px;
  height:30px;
  opacity: .5;
  filter: saturate(3);
  transition-duration :0.5s ;
  transition-property: transform;
}

#refresh-button:hover {
  transform:rotate(-360deg);
  -webkit-transform:rotate(-360deg);
}

#refresh-button:active {
	filter: hue-rotate(190deg);
}

#close-button {
  float:right;
  margin: 5px;
  cursor: pointer;
  width: 60px;
  height: 60px;
}

#close-button:active {
	filter: hue-rotate(190deg);
}

.visitor-container{
	clear:both;
	height: 40px;
	width: 80%;
	margin-left:10%;
	margin-bottom:5%;
}

#submit-button{
  float:right;
  width: 15%;
  height: 95%;
  filter:hue-rotate(-20deg);
}

#submit-button:active{
	filter:hue-rotate(155deg);
}

#visitor-tweet{
  float:right;
  width: 80%;
  border-color: #9ce5cc;
  border-style:solid;
  border-width: 4px;
  border-radius: 8px;
  font-family:Helvetica;
  font-size:large;
  padding: 10px;
  color:#39726e;
}

#visitor-tweet:focus{
	border-color: #fcb59f;
}

::placeholder {
	color:#9ce5cc;
	font-family: Helvetica;
	font-size: large;
	padding-left:7px;

}


.scrollbox-user{
	position: absolute;
	z-index: 1;
	display: none;
	background-color:White;
	height:700px;
	width: 50%;
	border-width: 4px;
	border-style: solid;
	border-color: White;
	border-radius: 7px;
	overflow-y:scroll;
}

.feed-user {
	clear:both;
}

.scrollbox-home{
	clear:both;
	margin: 5%;
	height: 700px;
	width: 90%;
	overflow-y:scroll;
	visibility: hidden;
	transition: visibility 0s 0.2s;
}

.feed-home, .scrollbox-home:hover, .scrollbox-home:focus {
	visibility: visible;
}

.tweet-container{
	margin: 10px;
	padding: 10px;
	background-color: White;
	border-width: 1px;
	border-style:solid;
	border-color: #ffe1bc;
	border-radius:15px;
}

.nametag {
	padding: 10px 20px 10px 20px;
	float:left;
	font-size:large;
	font-family: Helvetica;
	font-weight: bold;
	text-shadow: 0 0 9px #e8fdff;
	color: #39726e;
	cursor: pointer;
}

.nametag:hover {
	text-shadow: 0 0 9px #f7b613;
	color: #066770;
}

.timestamp {
	padding: 10px 20px 10px 20px;
	float:right;
	font-size:small;
	font-family: Helvetica;
	font-style:italic;
	color: #39726e;

}

.message {
	padding: 20px;
	clear:both;
	font-size:x-large;
	font-family: Helvetica;
	color: #39726e;
}


