* {
	margin:auto;
}

body {
  background-color: #55a5c1;
}

.banner-top, .banner-bottom{
	height: 50px;
	background-color: #0b465b;
}

.main-feed-container{
	margin:0px auto 0px auto;
	height:100%;
	width: 50%;
	background-color: White;

}

h1 {
	float:left;
	padding:5%;
	font-size:400%;
	font-family: Helvetica;
	font-weight: bold;
	color: #0b465b;
	cursor:pointer;
}

#refresh-button {
  float:right;
  margin:60px 80px 10px 10px;
  cursor:pointer;
  width:40px;
  height:40px;
}

#close-button {
  float:right;
  margin: 5px;
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.scrollbox-user{
	position: absolute;
	z-index: 1;
	display: none;
	background-color:White;
	height:700px;
	width: 50%;
	border-width: 4px;
	border-style: solid;
	border-color: White;
	border-radius: 7px;
	overflow-y:scroll;
}

.feed-user {
	clear:both;
}

.scrollbox-home{
	clear:both;
	height: 700px;
	width: 95%;
	overflow-y:scroll;
	visibility: hidden;
	transition: visibility 0s 0.2s;
}

.feed-home, .scrollbox-home:hover, .scrollbox-home:focus {
	visibility: visible;
}

.tweet-container{
	margin: 10px;
	padding: 10px;
	background-color: White;
	border-width: 2px;
	border-style:solid;
	border-color: #c9cfd8;
	border-radius:7px;
}

.nametag {
	padding: 10px 20px 10px 20px;
	float:left;
	font-size:large;
	font-family: Helvetica;
	font-weight: bold;
	cursor: pointer;
}

.timestamp {
	padding: 10px 20px 10px 20px;
	float:right;
	font-size:small;
	font-family: Helvetica;
	font-style:italic;

}

.message {
	padding: 20px;
	clear:both;
	font-size:x-large;
	font-family: Helvetica;
}


